# Configuration
IP_ADDRESSES = ['8.8.8.8', '1.1.1.1', 'google.com']
LOG_FILE = 'ping_log.txt'
RRD_DIR = './rrd_files'
GRAPH_DIR = './graphs'
STEP = 1  # default 60 seconds between samples
HEARTBEAT = 60  # default 120 max interval between updates in seconds
SAMPLE_POINTS = 1440 # 1440 sample points = 60 mins x 24 hrs